<section class="land-page">
  <div class="position-relative container mx-auto text-light d-flex flex-column justify-content-center w-100 h-100">
    <div class="text">
      <h1 class="text-light">Welcome to <span class="store-text">SHACO</span> <span> STORE</span></h1>
      <p class="my-4 fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet id laboriosam, reiciendis deserunt ea
        dignissimos,
        dolorem rem magnam quisquam quos officiis repudiandae asperiores iusto accusantium nesciunt sit quibusdam natus
        nam.</p>
      <button class="bttn" (click)="print()">Explore</button>
    </div>
  </div>
</section>

<section class="stats">
  <h2 class="section-title mb-5 mx-auto">our stats</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-3">
        <div class="stats-cont h-100">
          <i class="icon bi bi-person-fill"></i>
          <div class="stats-num" data-goal="150">0</div>
          <div class="stats-txt">clients</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-3">
        <div class="stats-cont h-100">
          <i class="icon bi bi-bag-fill"></i>
          <div class="stats-num" data-goal="50">0</div>
          <div class="stats-txt">orders</div>
        </div>
      </div>
      <div class=" col-md-4 col-sm-12 mb-3">
        <div class="stats-cont h-100">
          <i class="icon bi bi-globe-europe-africa"></i>
          <div class="stats-num" data-goal="20">0</div>
          <div class="stats-txt">countries</div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contactus id="contact"></app-contactus>
