
.bg{
  min-height: calc(100vh - 73px);
}

.login {
  margin-top: 30px;
  height: fit-content;
  width: 75%;
  text-align: center;
  display: inline-flex;
  box-shadow: 0 0 10px #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}

.pic {
  min-height: 100%;
  width: 50%;
}

.form{
  min-height: 100%;
  width: 50%;
}

.form .form-text{
  width: 250px;
}

.input-field {
  height: 40px;
  width: 90%;
  border: 1px solid rgb(202, 198, 200);
  outline: none;
  padding: 5px 25px;
  margin-top: 10px;
  font-size: medium;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.icon {
  font-size: 1.2rem;
  position: absolute;
  padding: 15px 10px 15px 5px;
  color: rgb(165, 157, 157);
}

.pic img{
  height: 100%;
  width: 100%;
}

#phone_,#phone{
  width: 100%;
  margin-top: 10px;
}
/* #292841
   #5865f2
*/

.bttn{
  width: 90%;
}


.discord{
  background-color: #394194;
}

.discord:hover{
  background-color: #282d68;
}

.or{
  position: relative;
  color: #ccc;
}

.or::after{
  right: 5%;
}

.or::before{
  left: 5%;
}

.or::after,
.or::before{
  content: '';
  width: 40%;
  height: 1px;
  background-color: #ccc;
  top: 50%;
  position: absolute;
}


@media (max-width: 990px){
  .login{
    width: 100%;
  }
}

@media (max-width: 767px){
  .pic{
    display: none;
  }
  .form{
    width: 100%
  }
  .form .form-text{
    width: 200px;
  }
}

@media (max-width: 400px){
  .form{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .input-icon,.flname {
    padding: 0;
  }
  .text{
    font-size: 0.9rem;
  }
}
