<div class="bg container-fluid mb-5">
  <div class="container d-flex justify-content-center align-items-center flex-column mx-auto">
    <div class="login">
      <div class="pic">
        <img src="../../../assets/images/Prestige Inkshadow Yasuo.jpeg" loading="lazy" />
      </div>
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="form p-3 bg-dark">
        <div class="mt-3 mb-4">
          <img class="form-text" src="../../../assets/images/signin3.png" alt="" loading="lazy">
        </div>

        <div class="input-icon">
          <i class="bi bi-person-fill icon"></i>
          <input type="email" formControlName="userName" class="input-field" placeholder="user@example.com"
            autocomplete="off">
          <ng-container *ngIf="getLogEmail.touched">
            <div *ngIf="getLogEmail.hasError('required')" class="text-danger text-start ps-5">
              required
            </div>
            <div *ngIf="getLogEmail.hasError('pattern')" class="text-danger text-start ps-5">
              Invalid Email
            </div>
          </ng-container>
        </div>

        <div class="input-icon">
          <i class="bi bi-lock-fill icon"></i>
          <input type="password" formControlName="password" class="input-field" placeholder="Password" autocomplete="off">
          <ng-container *ngIf="getLogPassword.touched">

            <div *ngIf="getLogPassword.hasError('required')" class="text-danger text-start ps-5">
              required
            </div>
            <div *ngIf="getLogPassword.hasError('pattern')" class="text-danger text-start ps-5">
              Invalid Password
            </div>
          </ng-container>

        </div>

        <button type="submit" class="bttn signin">SIGN IN</button>
        <p class="or my-3">or</p>
        <button class="bttn discord mb-3 mt-0"><i class="bi bi-discord"></i> Continue with Discord</button>
        <p class="text-light my-3">Don't have an account <a class="signup-link" href="#" [routerLink]="['/signup']">Sign Up</a></p>
      </form>
    </div>
  </div>
</div>

<!-- <app-register></app-register> -->

<!-- <app-verification-form></app-verification-form> -->
