<section class="contact-section">
  <div class="contact container">
    <div class="container">
      <div class="contact-info text-light">
        <h3>Contact Info</h3>
        <div class="row1">
          <i class="icon bi bi-geo-alt-fill"></i>
          <span>Alex, Egypt</span>
        </div>
        <div class="row1">
          <i class="icon bi bi-envelope-at-fill"></i>
          <span>MrShaco2023@gmail.com</span>
        </div>
        <div class="row1">
          <i class="icon bi bi-telephone-fill"></i>
          <span>+201020362608</span>
        </div>
        <div class="row1 social-links">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-whatsapp"></i></a>
          <a href="#"><i class="bi bi-discord"></i></a>
        </div>
      </div>

      <form class="user-det">
        <h3>Send a Message</h3>
        <div class="row50">
          <div class="data">
            <label for="fname">First Name</label>
            <input type="text" name="" id="fname" placeholder="Mo" autocomplete="off">
            <small class="error-msg"><i class="fa-regular fa-circle-xmark"></i> Invalid Name</small>
          </div>
          <div class="data">
            <label for="lname">Last Name</label>
            <input type="text" name="" id="lname" placeholder="Salah" autocomplete="off">
            <small class="error-msg"><i class="fa-regular fa-circle-xmark"></i> Invalid Name</small>
          </div>
        </div>
        <div class="row50">
          <div class="data">
            <label for="email">Email</label>
            <input type="text" name="" id="email" placeholder="ex: mosalah@example.com" autocomplete="off">
            <small class="error-msg"><i class="fa-regular fa-circle-xmark"></i> Invalid Email</small>
          </div>
        </div>
        <div class="row100">
          <div class="data">
            <label for="message">Message</label>
            <textarea name="" id="message" cols="30" rows="5" placeholder="Write your message here..."></textarea>
            <small class="error-msg"><i class="fa-regular fa-circle-xmark"></i> Invalid Message</small>
          </div>
        </div>
        <input type="submit" class="bttn" value="Send">
      </form>
    </div>
  </div>
</section>
