<!-- Actions -->
<div class="col-12">
  <div class="card recent-sales overflow-auto dark-item">
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-auto">
          <h5 class="card-title text-light">Admin <span>| Actions</span></h5>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control mt-3" placeholder="Search...">
        </div>
      </div>
      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th scope="col" class="dark-item text-light">#</th>
            <th scope="col" class="dark-item text-light">Name</th>
            <th scope="col" class="dark-item text-light">Email</th>
            <th scope="col" class="dark-item text-light">Action</th>
            <th scope="col" class="dark-item text-light">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="dark-item text-light">#1</th>
            <td class="dark-item text-light">Brandon Jacob</td>
            <td class="dark-item text-light">user@gmail.com</td>
            <td class="dark-item text-light">Add_Item M16 Weapons</td>
            <td class="dark-item text-light">24/6/2023</td>
          </tr>

          <tr>
            <th scope="row" class="dark-item text-light">#1</th>
            <td class="dark-item text-light">Brandon Jacob</td>
            <td class="dark-item text-light">user@gmail.com</td>
            <td class="dark-item text-light">Add_Item M16 Weapons</td>
            <td class="dark-item text-light">24/6/2023</td>
          </tr>

          <tr>
            <th scope="row" class="dark-item text-light">#1</th>
            <td class="dark-item text-light">Brandon Jacob</td>
            <td class="dark-item text-light">user@gmail.com</td>
            <td class="dark-item text-light">Add_Item M16 Weapons</td>
            <td class="dark-item text-light">24/6/2023</td>
          </tr>

          <tr>
            <th scope="row" class="dark-item text-light">#1</th>
            <td class="dark-item text-light">Brandon Jacob</td>
            <td class="dark-item text-light">user@gmail.com</td>
            <td class="dark-item text-light">Add_Item M16 Weapons</td>
            <td class="dark-item text-light">24/6/2023</td>
          </tr>


        </tbody>
      </table>

    </div>

  </div>
</div><!-- End Actions -->
